body {
	background-color: #111311;
	color: #999;
	font-family: "Chalkboard", sans-serif;
	text-align: center;
}

table {
	margin: 0 auto;
}

tr, td {
	margin: 5px 5px;
	text-align: left;
}

p {
	color: #444;
}

img {
	height: 2rem;
}

button {
	background-color: #999;
}

a {
	color: #333;
	position: fixed;
	text-align: center;
	left: 0;
	bottom: 0;
	width: 100%;
	margin-bottom: 16px;
}
