body {
	background-color: #111311;
	color: #999;
	font-family: "Chalkboard", sans-serif;
	text-align: center;
}

table {
	margin: 0 auto;
}

tr, td {
	margin: 5px 5px;
	text-align: left;
}

p {
	color: #444;
}

img {
	height: 2rem;
}

button {
	color: #111;
	background-color: #999;
	text-decoration: none;
}

a {
	color: #333;
}


.poemText {
	min-height: 200px;
}

.footer {
	color: #555;
	text-align: center;
	max-width: 500px;
	margin: 16px auto;
}
